/*
#222831
#31363F
#76ABAE
#EEEEEE
*/

body {
    font-family: "Rubik", sans-serif;
    background: #EEEEEE;
    font-optical-sizing: auto;
    font-style: normal;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    padding: 1rem 2rem;
    min-height: 50px;
    display: grid;
    grid-template-columns: 1fr auto;
    background: #222831;
    color: #EEEEEE;
}

footer {
    min-height: 10rem;
    vertical-align: top;
    background: #EEEEEE;
    color: #31363F;
}

main {
    flex: 1;
    padding: 0 4rem;
}

.center {
    text-align: center;
}

.lang {
    padding-right: 5rem;
    list-style-type: none;
}

.lang a {
    color: #f0f0f0 !important;
}

.script {
    display: block;
    margin-left: 10rem;
    font-family: monospace;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 48em;
}

a.back_link {
    color: #f0f0f0 !important;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 50px auto;
    padding: 25px;
}

p.copyright {
    width: 100%;
    font-size: 0.7em;
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

p:has(> #script_link) {
    border-left: 0.5rem solid #76ABAE;
    border-radius: 0.125rem;
    padding: 0.5rem 1.5rem;
    white-space: initial;
}

details>summary {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    display: block;
    list-style-type: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

details>summary::before {
    content: '';
}

details[open]>summary::before {
    content: '';
}