.home_container {
    background-image: url("/images/cover.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
    background-position-y: top;
    background-repeat: no-repeat;
}

.page_container {

}

a, a:visited {
    color: #adf9ff;
}

.page_container a, .page_container a:visited {
    color: #76ABAE;
}

body {
    font-family: "Lora", serif;
    background: #EEEEEE;
    font-optical-sizing: auto;
    font-style: normal;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    padding: 1rem 2rem;
    min-height: 50px;
    display: grid;
    grid-template-columns: 1fr auto;
    color: #f0f0f0;
    font-size: large;
}

footer {
    background: rgba(220, 220, 220, 0.1);
    color: #EEEEEE;
    display: grid;
}

.page_container > footer, .page_container > header {
    font-family: monospace;
    color: #31363F;
}

    /*https://cssgrid-generator.netlify.app*/
.home_container > main {
    flex: 1;
    padding: 0 4rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.about {
    color: #f0f0f0;
    grid-area: 1 / 1 / 2 / 4;
    font-size: x-large;
    font-optical-sizing: auto;
}

.taxonomy_tabs {
    grid-area: 2 / 1 / 2 / 3;
    font-size: large;
    color: #f0f0f0;
}

.contacts {
    grid-area: 3 / 1 / 3 / 3;
    color: #f0f0f0;
    font-size: xx-large;
    font-optical-sizing: auto;
}

.center {
    text-align: center;
}

.lang {
    padding-right: 5rem;
    list-style-type: none;
}

.lang a {
    color: #f0f0f0 !important;
}

.script {
    display: block;
    margin-left: 10rem;
    font-family: monospace;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 48em;
}

p.copyright {
    width: 100%;
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

p:has(> #script_link) {
    border-left: 0.5rem solid #76ABAE;
    border-radius: 0.125rem;
    padding: 0.5rem 1.5rem;
    white-space: initial;
}

details > summary {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    display: block;
    list-style-type: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    content: '';
}

details[open] > summary::before {
    content: '';
}